---
import Section from '@components/ui/Section.astro';
import ResearchLinkGrid from '@components/cards/ResearchLinkGrid.astro';
import { conferences, site } from '@lib/content';
---

<Section
  id="conferences"
  title={site.sections.conferences.title}
  variant="default"
  class="section--compact-top section--compact-bottom"
>
  <ResearchLinkGrid items={conferences.items} />
</Section>
