---
import Section from '@components/ui/Section.astro';
import { mentorship, site } from '@lib/content';
---

<Section id="mentorship" title={site.sections.mentorship.title} variant="default">
  <ul class="bullet-list reveal">
    {mentorship.items.map((item) => <li>{item.text}</li>)}
  </ul>
</Section>
